<mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title class="panel-title">
              <b>Certificates and Achivements</b>
          </mat-panel-title>
          <mat-panel-description>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="panel-data">
            <p><b>Certifications</b></p>
            <p>Nipun Data certified</p>
            <p>Dimploma in IT Architecture from <b>CDAC-Pune</b></p>
            <p><b>Achivements</b></p>
            <p>Got 2nd prize in the event <b>Web-desiging</b> organized by <b>The Times of India</b>.</p>
            <p>Appreciation by Manager when <b>Unit tests</b> were optimized by 75%.</p>
        </div>
      </mat-expansion-panel>
    </mat-accordion>